/*	Available Fonts:
	font-family: 'Roboto', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto:400,700|Oswald');

$main-font-size: 1.6rem;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $main-font-size;
	line-height: 2.2rem;
	padding: 2rem;
}

.container {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "main picture";
	grid-column-gap: 5rem;
	grid-row-gap: 2rem;
}

h1, h2 {
	font-family: 'Oswald';
	color: #0b6623;
}

h1, h2 {
	text-align: center;
	margin-bottom: 1rem;
}

h3 {
	font-family: 'Oswald';
	margin-bottom: .5rem;
}

input, textarea, select {
	display: inline-block;
	width: 100%;
	padding: 1rem 1.5rem;
	margin: 1rem 0;
	border: 0;
	border-bottom: 1px solid silver;
	background-color: #fffffa;
	font-family: 'Roboto', sans-serif;
	transition: all .5s;

	&:focus {
		padding: 1.2rem 1.8rem;
	}
}

.button {
	display: inline-block;
	padding: .8rem 1.5rem;
	width: 100%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 10px;

	&__main {
		background-color: #0b6623;
		font-size: 130%;
		color: #fffffa;
		font-weight: 700;
		letter-spacing: .5rem;
		margin-top: 1rem;

		&:active {
			transform: translateY(.2rem);
		}
	}

	&--increment {
		font-size: 200%;
		font-weight: 700;
		padding: 0;
		margin-bottom: 2rem;
	}

}

ul {
	list-style-type: none;
}

.item {	
	display: flex;
	justify-content: space-between;
	font-size: 85%;
	padding: .2rem 0;


	&:not(:last-child) {
		border-bottom: 1px solid #eee;
	}

	&__name {
		margin-right: auto;
	}

	&__value {
		width: 20%;
		text-align: right;

		&--money::before {
			content: '$';
		}

		&--notes {
			width: 50%;
			font-family: 'Source Code Pro', monospace;
			font-size: 90%;
			color: #888;
		}
	}

	&__delete {
		font-weight: bold;
		font-size: 120%;
		margin-left: 1rem;
		cursor: pointer;
		color: maroon;
	}

	&--strong {
		font-weight: 600;
	}

}

.animated {
	animation: grow .5s ease-out 0s;
	animation-fill-mode: backwards;
}

.notice {
	padding-bottom: 1rem;
	text-align: center;
}


/**
Modules
**/

.section {
	padding-top: 2rem;
	border-top: 2px solid #0b6623;
}

.left {
	grid-area: main;
}


.entry-form {
	margin-bottom: 2rem;
}

.current {
	display: grid;
	ul {
		margin-bottom: 2rem;
	}
}

.picture {
	grid-area: picture;
	width: 100%;
	height: 95vh;
	background-size: cover;
	background-position: center;
}

.history {
}

.totals {
}

@media screen and (max-width: 81em) { 
	.container {
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "main picture";
	} 	
}

@media screen and (max-width: 48em) { 

	html {
		font-size: 62.5%;
	}

	.container {
		grid-template-columns: 1fr;
		grid-template-areas: "picture"
							 "main";
	}

	input, textarea {
		font-size: 120%;
	}


	.item__value {
		width: 25%;
	} 

	.picture {
		height: 70vw;
	}

  
}


.fade-enter-active, .fade-leave-active {
transition: all 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
height: 0;
}

@keyframes grow {
    0% {
        opacity: 0;
        height: 0;
	}

    100% {
        opacity: 1;
        height: 2.8rem;
    }
}
