/*  Available Fonts:
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lora', serif; 
    font-family: 'IBM Plex Mono', monospace;
*/



$main-font-size: 1.4rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $main-font-size;
  line-height: 2.2rem;
  padding: 2rem;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "left center right";
  grid-column-gap: 5rem;
}

input, textarea, select {
  display: inline-block;
  width: 100%;
}

.button {
  display: inline-block;
  padding: .8rem 1.5rem;
  width: 100%;
  cursor: pointer;

  &__main {
  }

  &--increment {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 150%;
  }
  
}

ul {
  list-style-type: none;
}

.item {  
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }

  &__name {
    margin-right: auto;
  }

  &__value {
    width: 20%;
    text-align: right;

    &--money::before {
      content: '$';
    }
  }

  &--strong {
    font-weight: 600;
  }
  
}

.entry-form {
  grid-area: left;
}

.week {
  grid-area: center;
  display: grid;
}

.totals {
}

.category {
}
